@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.profile-pic img {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.header a {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffd700;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    display: block;
    padding: 10px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem; 
    }

    .nav a {
        margin-right: 15px;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Create two columns */
    }

    .main section {
        width: 48%; /* Two columns with a small gap */
        margin-bottom: 1rem; /* Add some spacing between sections */
    }
}

.profile-picture {
    width: 80px;
    height: 80px;
    box-shadow: 3px 5px 32px 8px rgba(0, 0, 0, 0.36);
    margin: 0 auto;
}

.main {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    background-color: #00796b;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
    width: 100%;
    box-sizing: border-box;
}

.footer span {
    text-decoration: underline;
}

.last-update {
    color: #ffd700;
}
